<div class="col-md-2" id="user-panel">
  <h2>
    <%= "#{cooper.name}" %>
    <small class="right">
      <%= link_to "(edit my info)", edit_cooper_path(current_user) %>
    </small>
  </h2>
  <%= link_to "Add a plate for today",
    late_plates_path,
    method: :post,
    class: "btn btn-primary btn-lg
    #{'disabled' if cooper.has_plate_for_today}"
  %>

  <hr>

  <%= form_tag({ controller: "late_plates", action: "create", method: "post" }) do %>
    <div class="form-group">
      <%= label_tag(:dt, "or choose date:") %>
      <%= text_field_tag(:dt, DateTime.now.strftime("%m/%d/%Y"), id: "user-panel-datepicker", class: "form-control") %>
    </div>
    <%= submit_tag("Add", class: "btn btn-primary") %>
  <% end %>

  <hr>

  <h4>your weekly repeat plates:</h4>
  <div class="btn-group-vertical" role="group">
    <% 5.times do |day| %>
      <% if cooper.has_repeat_plate_for(day) %>
        <%= link_to Date::DAYNAMES[day],
                    cooper_repeat_plate_path(cooper, cooper.repeat_plates.for_day(day).last.id),
                    method: :delete,
                    class: "btn btn-lg btn-block btn-warning" %>
      <% else %>
        <%= link_to Date::DAYNAMES[day],
                    cooper_repeat_plates_path(cooper, day: day),
                    method: :post,
                    class: "btn btn-lg btn-default btn-block" %>
      <% end %>
    <% end %>
  </div>
</div>
