<% @houses.each do |house| %>
  <div class="row">
    <h2><%= house.name %></h2>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Joined</th>
        <th>Repeat Plates</th>
        <th>Current Member?</th>
        <th>Admin?</th>
      </tr>
    </thead>
    <tbody>
      <% house.coopers.order("created_at DESC").each do |cooper| %>
        <tr>
          <td><%= cooper.full_name %></td>
          <th><%= cooper.created_at.strftime("%B %-e, %Y") %></th>
          <td>
            <div class="btn-group" role="group">
              <% 5.times do |day| %>
                <button
                  class="btn btn-<%= cooper.has_repeat_plate_for(day) ? 'warning' : 'default' %>"
                  >
                  <%= Date::DAYNAMES[day].first %>
                </button>
              <% end %>
            </div>
          </td>
          <td><%= react_component("CooperBooleanToggle", cooper: cooper, booleanAttributeName: "current_member")%></td>
          <td><%= react_component("CooperBooleanToggle", cooper: cooper, booleanAttributeName: "admin" )%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
