<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add your number</h1>
    <%= form_for @cooper, url: { action: "create" } do |f| %>
      <div class="form-group">
        <%= f.label :fname, "First name" %>
        <%= f.text_field :fname, class: "form-control" %>

        <%= f.label :lname, "Last name (or initial)" %>
        <%= f.text_field :lname, class: "form-control" %>

        <%= f.label :number, "10 digit phone number (including area code)" %>
        <%= f.telephone_field :number, class: "form-control", placeholder: "333-444-5555" %>

        <%= f.label :house, "Your house" %>
        <%= f.radio_button :house, "Foster", selected: true %>
        <%= f.label :house_child, "Foster" %>
        <%= f.radio_button :house, "Elmwood" %>
        <%= f.label :house_child, "Elmwood" %>

        <%= f.submit "Submit", class: "btn btn-success form-control" %>
      </div>
    <% end %>
  </div>
</div>
