<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add your number to finish</h1>
    <%= form_for :cooper, url: coopers_path, html: { method: :post } do |f| %>
      <div class="form-group">
        <%= f.hidden_field :fname, value: @auth[:info][:first_name] %>
        <%= f.hidden_field :lname, value: @auth[:info][:last_name] %>
        <%= f.hidden_field :uid,   value: @auth[:uid] %>

        <%= f.label :number, "Phone number (including area code)" %>
        <%= f.telephone_field :number, class: "form-control",
          placeholder: "333-444-5555",
          value: @cooper ? @cooper.number : nil
        %>

        <%= f.label :house, "Your house" %>
        <%= collection_select(:cooper, :house_id, House.all, :id, :name ) %>

        <%= f.submit "Submit", class: "btn btn-success form-control" %>
      </div>
    <% end %>
  </div>
</div>
