<div class="row">
  <div class="<%= current_user ? 'col-md-10' : 'col-md-12'%>">
    <div class="row">
      <div class="col-md-10">
        <h1> <%= Date.today.readable %> </h1>
      </div>
    </div>

    <hr>

    <div class="row">
      <% @houses.each do |house| %>
        <% if !current_user || current_user.lives_in?(house) %>
          <div class="col-md-6 house">
            <h2>
              <%= house.name %>
              <small class="right">
                <%= link_to("(view members)", coopers_path) if current_user.try(:admin?) %>
              </small>
            </h2>
            <%= render "plate_table", { plates: house.all_plates_for_today } %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= render "upcoming_plates", { upcoming: @upcoming } if current_user %>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <%= render("quick_reference") %>

        <div class="row">
          <% if current_user %>
            <p>
              Have an idea to make PlateBot better? Found a bug? Just want to say hey?
              <%= mail_to("platebotfeedback@gmail.com", "Submit feedback!", subject: "Platebot Feedback") %>
            </p>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <%= render("shared/user_panel", { cooper: current_user }) if current_user %>
</div>
