<div class="row">
  <div class="<%= current_user ? 'col-md-10' : 'col-md-12'%>">
    <div class="row">
      <div class="col-md-10">
        <h1> <%= @today %> </h1>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h2>Foster (the Zooo)</h2>
        <%= render "plate_table", { plates: @foster_plates } %>
      </div>

      <div class="col-md-6">
        <h2>Elmwood</h2>
        <%= render "plate_table", { plates: @elmwood_plates } %>
      </div>
    </div>

    <%= render "upcoming_plates", { upcoming: @upcoming } %>

    <hr>
  </div>

    <%= render("shared/user_panel", { cooper: current_user }) if current_user %>
</div>
