<h1 class="text-center"> <%= @today %> </h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h2>Foster (the Zooo)</h2>
    <%= render "plate_table", { plates: @plates.for_foster } %>
  </div>

  <div class="col-md-6">
    <h2>Elmwood</h2>
    <%= render "plate_table", { plates: @plates.for_elmwood } %>
  </div>
</div>

<hr>

<% unless @upcoming.empty? %>
  <button class="btn btn-primary" id="show-hide-upcoming">
    Show Future Late Plates
  </button>
  <div class="row" id="upcoming">
    <h3>Future Late Plates (not for today)</h3>
    <div class="col-md-8">
      <table class="table table-striped table-hover">
        <thead>
          <th>Name</th>
          <th>For dinner on</th>
          <th>Added at</th>
          <th>House</th>
        </thead>
        <tbody>
          <% @upcoming.each do |p| %>
            <tr>
              <td><%= p.cooper.initialized_name %></td>
              <td><%= p.simple_time_for_day %></td>
              <td><%= p.simple_time_with_date %></td>
              <td><%= p.cooper.house %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<hr>

<h3>Old School...</h3>

<div class="row">
  <iframe id="lp-google-sheet" frameborder="1" src="https://docs.google.com/spreadsheet/pub?key=0AshAEGc87QzidGNrRTdrWFN2NUkyM1prUHpRSjl1TWc&single=true&gid=0&output=html&widget=true"></iframe>
</div>
