<div class="row">
  <h1>Submit Feedback</h1>
</div>
<p>If submitting a bug, please include details of the exact steps you took that made this bug occur</p>
<div class="row">
  <div class="col-md-6">
    <%= form_tag(feedback_path, method: "post") do |f| %>
      <div class="form-group">
        <%= label_tag(:email, "Your email (optional, but allows me to follow up if I have questions):") %>
        <%= text_field_tag(:email, "", class: "form-control") %>
      </div>

      <div class="form-group">
        <%= label_tag(:feedback, "Your request, idea, bug, issue, salutation, or sweet sweet internet money:") %>
        <%= text_area_tag(:feedback, "", class: "form-control", rows: "5", placeholder: "Thank you!") %>
        <%= submit_tag("Submit Feedback", class: "btn btn-primary") %>
      </div>
    <% end %>
  <div>
</div>
