<!DOCTYPE html>
<html>
<head>
  <title>PlateBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "PlateBot", root_path, class: "navbar-brand" %>
    <%= link_to "Help", help_path, class: "navbar-right navbar-text" %>
    <% if current_user %>
      <%= link_to "Sign out", signout_path, method: "delete", class: "navbar-right navbar-text" %>
    <% else %>
      <%= link_to "Sign in with Gmail", "/auth/google_oauth2", class: "btn btn-success navbar-btn navbar-right" %>
    <% end %>
  </div>
</nav>

<div class="container">
  <div class="row">
    <% if flash[:error] %>
      <div class="text-center alert alert-danger col-md-6 col-md-offset-3 alert-dismissible">
        <ul>
          <% flash[:error].each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% [:success, :warning].each do |alert| %>
      <% if flash[alert] %>
        <div role="alert" class="text-center alert alert-<%= alert %> col-md-6 col-md-offset-3 alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= flash[alert] %></strong>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>
